.todo-screen{
}

.todo-container{
    display:flex;
    align-items:center;
    justify-content:center;
}

.todo-content{
    width:500px;
}

.new-todo{
    max-width:400px;
    padding-left:10px;
    padding-right:10px;
}